.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.footer-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    gap: 10px;
}

.footer-column li {
    list-style-type: none;
}

.footer-column ul {
    padding-left: 0;
}

.footer-column a {
    display: block;
    text-decoration: none;
    color: black;
}