.navbar {
    padding-left: 0;
    display: grid;
}

.navbar li {
    text-align: center;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: "Karla";
    font-size: 1.125em; /* 18 */
}

@media screen and (max-width: 991px) {
    .navbar {
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
    }

    .navbar a {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        grid-template-columns: repeat(6, 1fr);
    }

    .navbar a {
        display: inline-block;
    }
}