* {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Karla";
  font-size: 1.25em; /* 20 */
  font-weight: 800; /* Extra bold */
}

button {
  margin-top: 2vh;
  padding: 10px;
  background: #F4CE14;
  border-radius: 16px;
  color: black;
  font-family: "Karla";
  font-size: 1.125em; /* 18 */
  font-weight: bold;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #495E57;
  color: white;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12.5vw;
  padding-right: 12.5vw; 
  height: 50vh;
  gap: 40px;
}

#ok-image {
  width: 10vw;
}